body {
  overflow: hidden;
}

.app {
  display: flex;
  height: 100%;
  overflow-y: auto;

  @include breakpoint(m) {
    flex-wrap: wrap;
  }

  .main-content {
    height: 100%;
    width: 100%;
  }
}

.main-content {
  padding-bottom: 70px;

  .list {
    margin-bottom: 1.5em;
    padding: 0 0 0 1.25em;
  }

  .list li {
    list-style: square;
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 1em;
  }
}

form ul {
  padding: 0;
}

form li {
  list-style: none;
}

.radio-list li {
  margin-bottom: 1em;

  input {
    margin-right: 0.3em;
    top: -0.05em;
  }
}
